---
layout: default
page_index: 0
---

<header>
    <div class="container">
        <img src="images/logo.png" alt="Astro Arena" class="logo-image" />
        <p>{{site.data[site.active_lang].index.title}}</p>
        {% if site.active_lang == "uk" %}
        <div class="madeInUkraine">
            <img src="images/ua.png" alt="Ukraine Flag">
            <div class="madeInText">Зроблено в Україні!</div>
        </div>
        {% endif %}
    </div>
</header>

<section id="steam-section-top">
    <div class="steam-container">
        {% include steam_widget.html %}
        <div class="arrow">
            <img src="images/arrow.png" alt="Arrow" />
        </div>
    </div>
</section>

<section id="screenshots">
    <h2>{{site.data[site.active_lang].index.screenshots}}</h2>
    <div class="container">
        <div class="screenshots-gallery">
            <img src="images/screens/Screenshot_1_1920px (1).jpg" alt="Astro Arena Screenshot 1">
            <img src="images/screens/Screenshot_2_1920px (1).jpg" alt="Astro Arena Screenshot 2">
            <img src="images/screens/Screenshot_4_1920px (1).jpg" alt="Astro Arena Screenshot 3">
            <img src="images/screens/Screenshot_5_1920px (1).jpg" alt="Astro Arena Screenshot 4">
        </div>
    </div>
</section>

<section id="videos">
    <h2>{{site.data[site.active_lang].index.gameplay}}</h2>
    <div class="container">
        <div class="video">
            <iframe src="https://www.youtube.com/embed/3Vp2t06UJ_Q"></iframe>
        </div>
    </div>
</section>

<section id="features">
    <h2>{{site.data[site.active_lang].index.features}}</h2>
    <div class="container">
        <div class="feature-list">
            {% for feature_item in site.data[site.active_lang].index.features_list %}
                <div class="feature">
                    <img src="images/features/{{ feature_item.image }}.png" alt="{{ feature_item.title }}" class="feature-img" />
                    <h3>{{ feature_item.title }}</h3>
                    <p>{{ feature_item.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="article">
    <h2>{{site.data[site.active_lang].index.welcome}}</h2>
    <div class="article-container">
        <img src="images/Screen_1920x1080.png" alt="Astro Arena Banner" class="article-image">
        <div class="article-text">
            <p>
                {{site.data[site.active_lang].index.article_intro}}
            </p>
            <p>
                {{site.data[site.active_lang].index.article_text}}
            </p>
            <div class="character-blocks">
                <div class="character-block">
                    <img src="images/characters/rock.png" alt="Rock Character" class="character-image">
                    <div class="character-text">{{site.data[site.active_lang].index.rock}}</div>
                </div>
                <div class="character-block">
                    <img src="images/characters/paper.png" alt="Paper Character" class="character-image">
                    <div class="character-text">{{site.data[site.active_lang].index.paper}}</div>
                </div>
                <div class="character-block">
                    <img src="images/characters/scissors.png" alt="Scissors Character" class="character-image">
                    <div class="character-text">{{site.data[site.active_lang].index.scissors}}</div>
                </div>
            </div>
            <p>
                {{site.data[site.active_lang].index.article_outro}}
            </p>
            <p>
                {{site.data[site.active_lang].index.article_call_to_action}}
            </p>
        </div>
    </div>
</section>

<section id="steam-section-bottom">
    <div class="steam-container">
        {% include steam_widget.html %}
    </div>
</section>
