---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="{{site.active_lang}}">
    <meta name="description" content="{{site.data[site.active_lang].index.meta_description}}">
    {% assign data_page = site.data[site.active_lang].index.pages_list | where:"index", page.page_index  | first %}
    <title>{{ data_page["title"] }}</title>
    <link rel="alternate" hreflang="{{ site.default_lang }}" href="{{ page.permalink | default: ' /' }}" />
{% for lang in site.languages %}
    {% if lang == site.default_lang %}{% continue %}{% endif %}
    <link rel="alternate" hreflang="{{lang}}" href="/{{lang}}/{{page.permalink}}" />
{% endfor %}
{% if site.active_lang == site.default_lang %}
    <base href="/">
    {% else %}
    <base href="../">
{% endif %}
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Fonts for headings -->
    <link href="https://fonts.googleapis.com/css2?family=Duru+Sans&family=Jost&display=swap" rel="stylesheet">
    <!-- Font Awesome for social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- Favicon links -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <section class="languages">
        <div class="container">
          <div class="dropdown">
            <button id="language-button" class="dropbtn">
              <i class="fa fa-globe"></i> <span>{{site.data[site.active_lang].index.lang_name}}</span>
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                {% for lang in site.languages %}
                    {% assign lang_name = site.data[lang].index.lang_name %}
                    {% if lang == site.default_lang %}
                        <a href=" {{ page.url }}">{{ lang_name }}</a>
                    {% else %}
                        <a href="/{{ lang }}{{ page.url }}">{{ lang_name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
          </div>
        </div>
    </section>
    
    {{ content }}

    <section id="social-media">
        <h2>{{site.data[site.active_lang].index.follow_us}}</h2>
        <div class="container">
            <div class="social-icons">
                <a href="https://x.com/AstroArenaSpace" class="social-link" title="Twitter" target="_blank"><i
                        class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCGx_fSVbzD-EPBaYekppyTA" class="social-link" title="YouTube"
                    target="_blank"><i class="fab fa-youtube"></i></a>
                <!-- <a href="https://www.reddit.com/r/AstroArenaOnline" class="social-link" title="Reddit"
                    target="_blank"><i class="fab fa-reddit"></i></a> -->
                <a href="https://discord.gg/cvMjCbMfKG" class="social-link" title="Discord" target="_blank"><i
                        class="fab fa-discord"></i></a>
                <script language="javascript"
                    type="text/javascript">var a = "natasha"; document.write("<a class='social-link' title='Email' href='mailto:" + a + "@atlantisplay.com'><i class='fas fa-envelope'></i></a>");</script>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p><a href="/about.html">{{site.data[site.active_lang].index.about}}</a> | <a href="/story.html">{{site.data[site.active_lang].index.story}}</a> | <a href="https://store.steampowered.com/app/2997190/Astro_Arena/" target="_blank"><i
                class="fab fa-steam"></i>{{site.data[site.active_lang].index.store_page}}</a></p>
            <p>&copy; {{ site.time | date: '%Y' }} <a href="https://atlantisplay.com/">AtlantisTeam Development Ltd</a>. {{site.data[site.active_lang].index.rights_reserved}}
            </p>
        </div>
    </footer>
</body>

</html>