---
layout: default
---

{% assign data_page = site.data[site.active_lang].index.pages_list | where:"index", page.page_index  | first %}

<header class="header-article">
    <div class="container">
        <a href="/"><img src="images/logo.png" alt="Astro Arena" class="logo-image" /></a>
    </div>
</header>

<section class="full-article">
    <div class="article-container">
        <h1>{{ data_page["title"] }}</h1>
        <div class="article-text">
            {{ data_page["text"] | markdownify }}
        </div>
</section>
